/* Copyright (c) 2020 The ZMK Contributors * SPDX-License-Identifier: MIT */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {

        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        bindings = <
        &kp N5   &kp N1    &kp N2  &kp N3  &kp P    &kp Y         &kp M    &kp L    &kp D    &kp C   &kp F   kp BSPC
        &kp LALT  &kp O     &kp A   &kp E   &kp I    &kp U         &kp H    &kp N    &kp T    &kp R   &kp S   &kp SQT
        &kp LSHFT  &kp AMPS  &kp X   &kp Q   &kp K    &kp J         &kp V    &kp B    &kp G    &kp W   &kp Z   &kp RSHFT
        &kp LCMD  &kp SPACE  &kp RET    &kp RET  &kp SPACE  &kp RCMD
                        >;
                };
        };
  };
